<h2>Selected Item From <%= @store.name %></h2>

<h3>Name: <%= @item.name %></h3>
<h3>Cost: <%= @item.cost %></h3>

<%= link_to "back", store_items_path(@store.id) %>
<%= link_to "edit", edit_store_item_path(@store.id, @item.id) %>
<%= link_to "delete", store_item_path(@store.id, @item.id), method: :delete %>